*{
	padding: 0px;
	margin: 0px;
}
body{
	height: 1500px;
}

.green{
	width: 700px;
	height: 350px;
	background: green;
	position: relative;
}

.red{
	width: 180px;
	height: 180px;
	background: red;
	border-radius: 100%;
	position: absolute;
	top: 22%;
	left: 35%;
	z-index: 1;
}

.youtube{
	width: 200px;
	position: fixed;
	top: 25%;
	right: -138px;
	transition: 1s;
}
.youtube:hover{
	right: -2px;
}

.fb{
	width: 200px;
	position: fixed;
	top: 40%;
	right: -135px;
	transition: 1s;
}
.fb:hover{
	right: -2px;
} 

.instagram{
	width: 200px;
	position: fixed;
	top: 55%;
	right: -140px;
	transition: 1s;
}
.instagram:hover{
	right: -2px;
} 

.twitter{
	width: 400px;
	position: fixed;
	top: 65%;
	right: -330px;
	transition: 1s;
}
.twitter:hover{
	right: -2px;
} 